@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  background-color: #F8FAFC;
  color: #0F172A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #2563EB;
  border-radius: 10px;
}